# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items 
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [19]:
# how to create the sinlge item tuple
t1 = ()
t2 = (1)
print(type(t1))
print(type(t2))
# can you imagine why this showing like that.
# rember evry time when you creating single item tuple you have to give the (,)
t3 = (8,)
print(type(t3))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [8]:
# homo geneous tuple
t4 =(1,2,3,4,5)
print(t4)
# hetero genous tuple
t5 = (1,2,3,'hello',5+6j)
print(t5)

# nested tuple
t6 = (1,2,3,4,(6,7))
print(t6)
      
# using type converstion
t7 = tuple((1,2,3))
print(t7)

(1, 2, 3, 4, 5)
(1, 2, 3, 'hello', (5+6j))
(1, 2, 3, 4, (6, 7))
(1, 2, 3)

### Accessing Items

- Indexing
- Slicing

In [9]:
print(t3)
print(t3[0])
print(t3[-1])

(8,)
8
8

In [13]:
print(t6)
print(t6[-1][0])

(1, 2, 3, 4, (6, 7))
6

# Editing in the tuple

In [14]:
print(t3)
t3[0] = 100
# immutable just like strings

(8,)

TypeError: 'tuple' object does not support item assignment

# Adding elements in the tuple

In [16]:
print(t4)
# adding are not allowed in the tuple because of tuple are mutable data type
# in the list you get an lot of function add, insert but here there are no sucha kind of adding functio9n you will get.

(1, 2, 3, 4, 5)

# Deleting the element in the tuple

In [20]:
print(t3)
del t3
print(t3)
# deletion in the tuple is like that you ca delete whole tuple but you think i will delete as an indexing wise that is not possible into this
# lets seee by followign example

(8,)

NameError: name 't3' is not defined

In [22]:
del t6[-1]
# see indexing wise deletion not possible into the tuple that why it rhow an error

TypeError: 'tuple' object doesn't support item deletion

# Operations on tuple
- merging
- membership
- iteration

In [23]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

# Tuple Functions

In [25]:
# len/sum/min/max/sorted
t = (1,2,3,4)
t1 = (1,2,3,4)
print(len(t))

print(sum(t1+t))

print(min(t))

print(max(t))

print(sorted(t,reverse=True))
# by default is gives in the ascending order but when you do reverse = True it gives you the descending order.

4
20
1
4
[4, 3, 2, 1]

# count Function

In [28]:


t = (1,2,3,4,5)

print(t.count(5))
print(t.count(50))

1
0

# Index function

In [30]:
print(t.index(5))
print(t.index(50))
# but if going to access the index value that are not present into the tuple then it thorwsan error

4

ValueError: tuple.index(x): x not in tuple

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
# Speed of execution
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

# this program made it for to see the time diffrence between the list and tuple. 
List time 9.853569507598877
Tuple time 8.347511053085327

In [1]:
# memory taking in tuple is less memory consumption compared to the list.
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [4]:
# what exactly mean by Error prone
# explanation:- list having more chnaces to mistake or we can se mistake while doing the coding or debugging 
# let understand by the example.

a =[12,3,4]
b=a
a.append(5)
print(a)
print(b)

# see we just do the changes in the a but we also get the changes into the variable b so it most chances of error 
# while coding if your concept is not clear

[12, 3, 4, 5]
[12, 3, 4, 5]

In [5]:
# lets see the examples of tuple of error prone
c = (1,2,3)
d = c
c = c + (6,)
print(c)
print(d)

# see we changed into the c and dont any changes into the d that why tuple is an less error as compared to the list.

(1, 2, 3, 6)
(1, 2, 3)

### Why use tuple?
- tuple we used where user only read not to give the acess of more chnages where as list used at that point user can do the customize changes.
- tuple best example is atm machine where he cannnot much customize

# Special Syntax

In [6]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [7]:
a,b = (1,2,3)
print(a,b)
# you got an error because of you not declare the same amount of variable taht you allocate the values is tobe

ValueError: too many values to unpack (expected 2)

In [8]:
# swapping the values 
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [11]:
# when you allocate the values or you need the values to assign in only 2 variable so you can do liie that
a,b,*other= (1,2,3,4,5,6)
print(a,b)
print(other)

1 2
[3, 4, 5, 6]

In [12]:
# Zipping the values
a =(1,2,3,4)
b = (5,6,7,8)
zip(a,b)

In [14]:
# so it gives the zip object
# and if you wann se  the zip object then converted into the list then you can seee the list of tuples
print(list(zip(a,b)))
# 2-D tuple
print(tuple(zip(a,b)))

[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

# Creating empty sets

In [15]:
a = {}
type(a)
# so see when you creating the empty set dont gives like that if you write like that it will become an dictionary
# so what is the solution behind it?

dict

In [16]:
a = set{}
type(a)
# see how i did the silly mistake

SyntaxError: invalid syntax (995713337.py, line 1)

In [17]:
a = set()
type(a)
# yes that the correct way of writing the empty set ..that is type conversion

set

In [18]:
# 1D and 2D
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [19]:
# Can't contain mutable data types 
s2 = {1,2,3,{4,5}}
print(s2)
# see why it thorws an error beacuse set not allows the sei inside a set you cannot acess like that

TypeError: unhashable type: 'set'

In [22]:
# homogenous set
s3 = {1,'hello',4.5,True}
print(s3)
# tell me why set not True?
# beacuse python consider the True as an 1 and 1 already present inside the set ,
# although set has an property of it not contains duplicates

{1, 4.5, 'hello'}

In [23]:
# heterogenous sets
s4 = {1,2,5,3,'hello',(1,2,3)}
print(s4)

# are you noticed something you wrote in the 1,2,5,3 then 'hello' but while printing the it change his order why this is happend?
# explaination:  beacuse set does not followed the order and internally hashing algorithm is running, they decide that which item 
# in which position have to print

{1, 2, 3, 'hello', 5, (1, 2, 3)}

In [24]:
# by Type conversion
a = set([1,2,4])
print(a)

{1, 2, 4}

In [25]:
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

# Interresting point

In [26]:

s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)
# tell me the output?

True

### Accessing Items

In [28]:
s1 = {1,2,3,4}
s1[0:3]

# ehy this throwing an error 
# - beacuse of set are unrodered taht why you can not acess the list via slicng or indexing
# - it simply means that ocnce the number entered into the set after that youcan not accesse it

TypeError: 'set' object is not subscriptable

### Editing Items

In [29]:
s1 = {1,2,3,4}
s1[0] = 100
# this error occurr beacuse of yuo cannnot do the indexing thats why you cannot access neither you edit the items

TypeError: 'set' object does not support item assignment

#### but good part is taht youcan do adding and dletion into the set.

### Adding Items

In [32]:
S = {1,2,3,4}
S.add(5)
print(S)
# you can add sinlge value with the help of add function

{1, 2, 3, 4, 5}

In [34]:

S.update([5,6,7])
print(S)
# you can add the multiple values with the help of update function same like as append and extend function in list.

{1, 2, 3, 4, 5, 6, 7}

### Deleting Items
- del
- discard
- remove
- pop
- clear

In [38]:
# del
s = {1,2,3,4,5}
print(s)
del s[0]
print(s)
# you cannot  delete the items in set as an index wise if you wann delete then delete whole set

{1, 2, 3, 4, 5}

TypeError: 'set' object doesn't support item deletion

In [39]:
# discard
s = {12,3,4,4,5}
s.discard(5)
print(s)

{4, 3, 12}

In [41]:
# but if you wann do the that item does not exits in the set then that time  it does not show any changes
s = {12,3,4,8,5}
s.discard(50)
print(s)

{3, 4, 5, 8, 12}

In [43]:
# remove also work same like as discard
c = {1,2,3,4,5,69}
c.remove(69)
print(c)

{1, 2, 3, 4, 5}

In [44]:
# but in the remove non existing value then it thorws error
c = {1,2,3,4,5,69}
c.remove(70)
print(c)

KeyError: 70

In [45]:
# Pop : pop deleted at randomly manner .
c = {1,2,3,4,5,69}
c.pop()
print(c)
# see pop function delete the 1 item

{2, 3, 4, 5, 69}

In [46]:
# clear : it claer all the set i.e empty set
c = {1,2,3,4,5,69}
c.clear()
print(c)

set()

### Set Operation
- Union(|)
- Intersection(&)
- Difference(-)
- Symmetric Difference(^)
- Membership Test
- Iteration

In [48]:
# union : it add both side item with no repatation of numbers
s1 = {1,2,3,4,5,6}
s2 = {6,5,4,3,2,1}
print(s1|s2)

{1, 2, 3, 4, 5, 6}

In [49]:
# intersection(&): common item will print from both set
s1&s2

{1, 2, 3, 4, 5, 6}

In [52]:
# difference(-) : not common item will print
s1 = {1,2,3,4,5,6,11}
s2 = {6,5,4,3,2,1,13}
print(s1 - s2) 3 #s1 items tat are not resent inot the s2
print(s2-s1)  #s2 items that are not present into the s1

{11}
{13}

In [53]:
# symmetric difference : except common it print all the values
s1 ^ s2

{11, 13}

In [55]:
# membership operator: in , not in
print(s1 in s2)
print(s1 not in s2)

False
True

In [59]:
# iteration
for i in s1:
    print(i)

1
2
3
4
5
6
11

# Set Functions
- len/sum/min/max/sorted

In [60]:
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

### union/update functions

In [64]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s2) # taking commmon values form both sets

s1.update(s2) # but in update you update the s2 set values in s1
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

### intersection/ intersection_update

In [65]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

#### difference/difference_update

In [66]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

#### symmetric_difference/symmetric_difference_update

In [67]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [68]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [69]:
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.issubset(s2)

False

In [70]:
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.issuperset(s2)

False

In [71]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)
# address will different of both the set

{1, 2, 3}
{1, 2, 3}

# Frozen set

In [1]:
# froneset once created you cannot add tyhe value or remove the values# beacuse 
# it is an Immutable

s1 = frozenset([1,2,3,4,5])
s1

frozenset({1, 2, 3, 4, 5})

In [ ]:
# all the operations above on the set same will works on the frozen set
# Frozen set is just an immutable version of a Python set object

In [2]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2
# why in this are working are not changing anyhting we are not perfoming add, remove or pop fuctions

frozenset({1, 2, 3, 4, 5})

In [ ]:
# # what works and what does not
# works -> all read functions
# does't work -> write operations

In [3]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [4]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [8]:
# empty dictionary
d = {}
print(type(d))
# 1-d dictionary

d1 = {'name':'bhushan', 'city' : 'nagpur'}
print(d1)

<class 'dict'>
{'name': 'bhushan', 'city': 'nagpur'}

In [9]:
# with mixed dictionary
d2 = {(1,2,3): 1, "name":'bhushan'}
print(d2)
# why we taking the tuple beacuse tuple is an immutable data type.
# mutable data type are not allowed into the tuple.

{(1, 2, 3): 1, 'name': 'bhushan'}

In [11]:
# 2-d dictionary
d3 = {
    'name': 'aiwalabro',
    'sem': '4thsem',
    'sub':{
        'dsa': 42,
        'english': 68,
        'math':56
    }
    
}
print(d3)
# dict in dict

{'name': 'aiwalabro', 'sem': '4thsem', 'sub': {'dsa': 42, 'english': 68, 'math': 56}}

In [36]:
#lets add new subject into the data scinece and marks into that subject
d3['sub']['statistics'] =89
d3

{'name': 'aiwalabro',
 'sem': '4thsem',
 'sub': {'dsa': 42, 'english': 68, 'math': 56, 'statistics': 89}}

In [15]:
# using sequence and dict function
d4 = dict([(1,1),(3,2)])
print(d4)
d5 = dict([('name',1),('city','nagpur')])
print(d5)

{1: 1, 3: 2}
{'name': 1, 'city': 'nagpur'}

In [16]:
# duplicate keys are not allowed int the dictionary
d6 ={'name':'bhushan','name': 'marry'}
print(d6)
# last name value assign to the key

{'name': 'marry'}

In [18]:
# mutable item as a key
d7 = {[1,2,3]:1}
print(d7)
# see we got an error because list is the mutable data type

TypeError: unhashable type: 'list'

In [19]:
# instead of this we can add the immutable data type
d7 = {(1,2,3):1}
print(d7)

{(1, 2, 3): 1}

## Accessing items

In [23]:
d8 =  {'name': 'aiwlabrother', "age":27}
print(d8['name'])
# get
d8.get('age')

aiwlabrother

27

In [34]:
# 2-d dictionary
d9 = {
    'name': 'aiwalabro',
    'sem': '4thsem',
    'sub':{
        'dsa': 42,
        'english': 68,
        'math':56
    }
    
}

d9['sub']['dsa']

42

# Adding key value pair

In [24]:
d8['weight'] = 86
print(d8)

{'name': 'aiwlabrother', 'age': 27, 'weight': 86}

In [27]:
d8['class'] = '4th'
d8

{'name': 'aiwlabrother', 'age': 27, 'weight': 86, 'class': '4th'}

# Removing key value pair
- pop: when you add perticular key then that item will remove form the dictionary
- pop item: when you add the pop item then it will remove the last item of the dictionary
- del: you remove the whole dictionary, although you can dleete the specific key value pair
- clear : it will empty dictionary

In [28]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [29]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# popitem

d.popitem()
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [30]:
# del
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
del d['name']
print(d)

{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [33]:
# clear

d.clear()
print(d)

{}

In [38]:
# 2-d dictionary
d3 = {
    'name': 'aiwalabro',
    'sem': '4thsem',
    'sub':{
        'dsa': 42,
        'english': 68,
        'math':56
    }
    
}
print(d3)

# if you wann remove the subjects then
del d3 ['sub']['math']
print(d3)

{'name': 'aiwalabro', 'sem': '4thsem', 'sub': {'dsa': 42, 'english': 68, 'math': 56}}
{'name': 'aiwalabro', 'sem': '4thsem', 'sub': {'dsa': 42, 'english': 68}}

# Editing the dictionary

In [43]:

# 2-d dictionary
d3 = {
    'name': 'aiwalabro',
    'sem': '4thsem',
    'sub':{
        'dsa': 42,
        'english': 68,
        'math':56
    }
    
}
print(d3)
# changes math marks
d3['sub']['math'] = 80 
print(d3)

{'name': 'aiwalabro', 'sem': '4thsem', 'sub': {'dsa': 42, 'english': 68, 'math': 56}}
{'name': 'aiwalabro', 'sem': '4thsem', 'sub': {'dsa': 42, 'english': 68, 'math': 80}}

## Dictionary Operations

- Membership
- Iteration

In [47]:
dict1 = {'name':'bhshan','city':'nagpur'}
'name' in dict1
# i

True

In [48]:
dict1 = {'name':'bhshan','city':'nagpur'}
'bhshan' in dict1
# it only searches in key not in the values of the dictionary.

False

In [51]:
# iteration
dict2 = {'name':'bhshan','city':'nagpur','age':27}
for i in dict2:
    print(i)
    # as you know it will iterate on the key if slightly thing about in deep

name
city
age

In [53]:
# iteration
dict2 = {'name':'bhshan','city':'nagpur','age':27}
for i in dict2:
    print(dict2[i])
    # it also give sthe key values bereecuse in thekey als=ways shows the values thats why it happend.

bhshan
nagpur
27

### Dictionary Functions
- len/sorted
- items/keys/values
- update

In [54]:
# len/sorted
len(dict2)
print(dict2)

# by default it ascending order
sorted(dict2,reverse=True)

max(dict2)
# on the basis on ascii value it shows the maximum

{'name': 'bhshan', 'city': 'nagpur', 'age': 27}

'name'

In [55]:
# items/keys/values
dict2.items()
# it give the tuple in the form of list

dict_items([('name', 'bhshan'), ('city', 'nagpur'), ('age', 27)])

In [57]:
dict2.keys()
# it gives all the key of dictionary

dict_keys(['name', 'city', 'age'])

In [58]:
dict2.values()
# it gives all the values from the dictionary

dict_values(['bhshan', 'nagpur', 27])

In [61]:
# update
d1 = {1:2,3:4,5:6}
d2 = {2:9,3:7}
d1.update(d2)
print(d1)
# update function gives the permanently changes into the d1

{1: 2, 3: 7, 5: 6, 2: 9}

## Dictionary Comprehension
- syntax: {key: value for variable in iterable}

In [62]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [63]:
# using existing dict covert km distance into the miles per hour
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.05 for (key,value) in distances.items()}

{'delhi': 50.0, 'mumbai': 100.0, 'bangalore': 150.0}

In [69]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [72]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key : value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [78]:
# Nested Comprehension
# print tables of number from 2 to 4

{key:{value:key*value for value in range(1,11)} for key in range(2,5)}
# {i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}